
ion-toolbar {
  text-align: center
}

ion-toolbar button {
  margin: 1%;
  padding: .5%;
  border-radius: 0.25rem;
  background-color: #ffce42;
  border-color: #6c757d;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: .375rem .75rem;
}
