ion-row {
  background-color: #f1f1f1;
  margin: 1%;
}

ion-col {
  display: flex;
  padding: 4px;
}

ion-col ion-icon {
  font-size: 20px;
  margin-top: 5%;
}

ion-card-title {
  font-size: 30px;
}

ion-card-header {
  background-color: #f1f1f1;
}

ion-card-subtitle {
  font-weight: bold;
}
