<app-navbar [pageName]="'Story Details'"></app-navbar>
<ion-content>
  <div *ngIf="storyDataLoaded">
    <ion-card>
      <ion-card-header>
        <ion-card-title> {{ story.title }} </ion-card-title>
        <ion-card-subtitle>
          Owner: {{ story.owner.email }}
          <br>
          Genre: {{ story.genre }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-padding">{{ story.description }}</div>
        <ion-grid>
          <ion-row *ngFor="let fragment of story.fragments; let j = index">
            <ion-col class="fragment ion-text-left" [size]="getFragmentColumnSize()">
              {{ fragment.text }}
              <br>
              <br>
              -- {{ fragment.user.email }}
            </ion-col>
            <ion-col class="actions ion-justify-content-center" *ngIf="isAuthenticated | async" [size]="getFragmentActionsColumnSize()">
              <ion-icon color="danger" name="trash-outline" (click)="deleteFragment(fragment.id)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>

        <form *ngIf="isAuthenticated | async">
          <ion-item>
            <ion-label>Add a fragment:</ion-label>
            <ion-textarea type="text" [(ngModel)]="newFragment.text" name="text"></ion-textarea>
          </ion-item>
          <ion-button color="thistle" expand="block" (click)="saveFragment()">Save Fragment</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <div class="ion-padding">
      <hr>
      <h5>Comments</h5>
      <ion-list>
        <ion-item *ngFor="let comment of comments; let i = index">
          <ion-label>
            {{i + 1}}
          </ion-label>
          <ion-label>{{ comment.text }}</ion-label>
          <ion-icon color="danger" *ngIf="isAuthenticated | async" name="trash-outline" (click)="deleteComment(comment.id)"></ion-icon>
        </ion-item>
      </ion-list>
      <hr>
      <h5>What do you think?</h5>
      <form>
        <ion-item>
          <ion-label>Comment:</ion-label>
          <ion-textarea type="text" [(ngModel)]="newComment.text" name="text"></ion-textarea>
        </ion-item>
        <ion-button color="thistle" expand="block" (click)="saveComment()">Save Comment</ion-button>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" color="lavender" (click)="goToList()">Back to stories</ion-button>
</ion-footer>
